.container {
    background-color: #ced8e0;
    display: flex;
    width: 40vw;
    border: 1px solid #000;
    padding: 24px;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.imageStyle {
    font-size: 20px;
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 50%;
}

.container p {
    width: 100%;
    color: #fff;
    font-size: 20px;
}